<div style="margin-left: 2%;margin-top: 2%;margin-bottom: 2%;">  		
	<h1>Editing Prescription</h1>

	<%= render 'form', prescription: @prescription %>

	<%#= link_to 'Show', @prescription, class: 'pure-button  pure-button-primary'  %> 
</div>