<div style="margin-left: 2%;margin-top: 2%;margin-bottom: 2%;">  		
	
	<h1>Editing Prescribed Medicine</h1>

	<%= render 'form', prescribed_medicine: @prescribed_medicine %>

	<%= link_to 'Show', @prescribed_medicine, class: 'btn btn-primary'  %> |
</div>