<div style="margin-left: 2%;margin-top: 2%;margin-bottom: 2%;">  		
	<h1>Editing Doctor</h1>
	
	<%= render 'form', doctor: @doctor %>

	<%#= link_to 'Show', @doctor, class: 'btn btn-primary'  %>
</div>