<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
<style>
  .jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo {
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
</style>

<div class="jumbotron text-center">
  <h1>3M Health Care</h1> 
  <p>Improving lives is our purpose.</p> 
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> We connect people, insights, science and technology in key markets to solve problems and make better health possible.</h4>      
      <p><strong>VISION:</strong> Get inspired by stories of innovation</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off"></span>
      <h4>Medical Solutions</h4>
      <p>Groundbreaking medical solutions, products and expertise help improve patient outcomes and reduce the risk of complications.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart"></span>
      <h4>Oral Care</h4>
      <p>Innovative dental and orthodontic solutions help simplify procedures and put patients on a path toward lifelong oral health.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock"></span>
      <h4>Health Information Systems</h4>
      <p>Our software and services help deliver accurate health information and payment so you can focus on improving the patient experience.</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf"></span>
      <h4>Food Safety</h4>
      <p>Food safety testing solutions help deliver food and beverages that are safe and fresh, protecting consumers and your business.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate"></span>
      <h4>Biopharmaceuticals</h4>
      <p>Our biopharmaceutical purification solutions help you increase speed to clinicals and lower manufacturing costs.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench"></span>
      <h4 style="color:#303030;">Medical Device Components</h4>
      <p>Our medical device components, films and membranes help enable breakthrough innovations in global health care.</p>
    </div>
  </div>
</div>
