<div style="margin-left: 2%;margin-top: 2%;margin-bottom: 2%;">  				
	<h1>Editing Doctor Appointment</h1>

	<%= render 'form', doctor_appointment: @doctor_appointment %>

	<%#= link_to 'Show', @doctor_appointment , class: 'pure-button  pure-button-primary' %> 
</div>